@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="websocketurl" content="@routes.Application.stream().webSocketURL()" />
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script data-main="@routes.Assets.at("javascripts/main")" src="@routes.Assets.at("/lib/requirejs/require.js")"></script>
    </head>
    <body>
        @content
        
        
        <script type="text/javascript" src="@routes.Assets.at("client-fastopt.js")"></script>
        <script type="text/javascript">
        	var foo = new client.TestClass("Michael", "test");
        	console.log(foo);
			console.log(foo.foo());
        </script>
    </body>
</html>
